

@media (max-width:480px){

  .instant-card{
    flex-direction:column;
    align-items:stretch;
    gap:14px;
  }

  .instant-btn{
    width:100%;
  }

}

@media(min-width:600px){
  .menu-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:600px){

  .nav{
    grid-template-columns:110px 1fr 180px;
    height:54px;
  }

  .nav-center{
    font-size:15px;
  }
}

@media (min-width:700px){
  .menu-grid{
    grid-template-columns:1fr 1fr;
  }
  
  #hubContent{
  max-width:720px;
  margin:0 auto;
 }
}
@media (max-width:700px){
  .nav{
    grid-template-columns:
      minmax(60px,18%)
      1fr
      minmax(70px,18%);
  }
}


@media (min-width:900px){
 #hubContent{
  max-width:760px;
 }
  .menu-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
